<h1>Admin Login</h1>

<p>Enter the admin username and password.</p>

<%= form_with url: admin_login_path, method: :post do |form| %>
  <div class="form-field">
    <%= form.label :username %>
    <%= form.text_field :username, required: true %>
  </div>

  <div class="form-field">
    <%= form.label :password %>
    <%= form.password_field :password, required: true %>
  </div>

  <div class="form-actions">
    <%= form.submit "Login" %>
  </div>
<% end %>

<p>
  <%= link_to "Back to Store", root_path %>
</p>