<div class="product-card">
  <% if product.image.attached? %>
    <%= image_tag product.image,
                  alt: product.name,
                  class: "product-image" %>
  <% else %>
    <div class="product-image-placeholder">
      No Image
    </div>
  <% end %>

  <h2><%= product.name %></h2>

  <p>
    <%= number_to_currency(product.price) %>
  </p>

    <p>
      Stock:
      <%= product.stock_quantity %>
    </p>

  <%= button_to "Add to Cart",
              add_to_cart_path(product),
              method: :post %>

  <p>
    <%= link_to "View Product", product_path(product) %>
  </p>
</div>