<h1><%= @product.name %></h1>

<p>
  Category:
  <%= @product.category.name %>
</p>

  <% if @product.image.attached? %>
    <%= image_tag @product.image,
                  alt: @product.name,
                  class: "product-detail-image" %>
  <% else %>
    <p>No image for this product.</p>
  <% end %>

<p>
  Description:
  <%= @product.description %>
</p>

<p>
  Price:
  <%= number_to_currency(@product.price) %>
</p>

<p>
  Our Stocks:
  <%= @product.stock_quantity %>
</p>

<p>
  <%= button_to "Add to Cart",
                add_to_cart_path(@product),
                method: :post %>
</p>

<p>
  <%= link_to "Back to Products", products_path %>
</p>