<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Game Move" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <nav class="main-nav">
      <%= link_to "Game-Move", root_path %>
      <%= link_to "All Products", products_path %>
      <%= link_to "Categories", categories_path %>
      <%= link_to "Cart (#{cart_item_count})", cart_path %>
      <% if session[:admin_user_id].present? %>
        <%= link_to "Order History", orders_path %>
        <%= link_to "Tax Rates", admin_provinces_path %>
      <% end %>

      <% if session[:admin_user_id].present? %>
        <%= link_to "Admin Logout",
                    admin_logout_path,
                    data: { turbo_method: :delete } %>
      <% else %>
        <%= link_to "Admin Login", admin_login_path %>
      <% end %>
    </nav>
    </header>

    <main>
    <% if notice.present? %>
      <p class="notice"><%= notice %></p>
    <% end %>

    <% if alert.present? %>
      <p class="alert"><%= alert %></p>
    <% end %>
      <%= yield %>
    </main>
  </body>
</html>
